<h1>This is secret page</h1>

<p>You found me</p>

<img src="https://images.pexels.com/photos/297642/pexels-photo-297642.jpeg?auto=compress&cs=tinysrgb&h=350">
<li><a href="/login">Log In</a></li>
<li><a href="/logout">Log Out</a></li>
<li><a href="/register">Register</a></li>