<h1>Log in</h1>

<form action="/login" method="POST">
    <input type="text" placeholder="username" name="username">
    <div>
        <input type="Password" placeholder="password" name="password">
    </div>
    <button>Log In</button>
</form>
<li><a href="/login">Log In</a></li>
<li><a href="/logout">Log Out</a></li>
<li><a href="/register">Register</a></li>